<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
    <div class="container blog-content-container">
        <!--此处加载返回值中所带的变量-->
        <h3 th:text="${userModel.title}"></h3>
        <!-- 插入新增用户链接-->
        <a class="btn btn-default" href="/users/form" th:href="@{/users/form}">创建用户</a>
        <table border="1" class="table table-striped">
            <thead>
            <tr>
                <td>ID</td>
                <td>Email</td>
                <td>Name</td>
            </tr>
            </thead>
            <tbody>
            <!--判断，如果 userList 为空，则显示下面的text-->
            <tr th:if="${userModel.userList.size()} eq 0">
                <td colspan="3"> 没有用户信息</td>
            </tr>
            <!-- each 循环 取数-->
            <tr th:each="user : ${userModel.userList}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.email}"></td>
                <td ><a th:href="@{'/users/'+${user.id}}" th:text="${user.name}"></a></td>
            </tr>

            </tbody>
        </table>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>