<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
    <div class="container blog-content-container">
        <h3 th:text="${userModel.title}">查询用户</h3>
        <div>
            <P>
                <strong>ID:</strong>
                <span th:text="${userModel.user.id}"></span>
            </P>
            <P>
                <strong>Email:</strong>
                <span th:text="${userModel.user.email}"></span>
            </P>
            <P>
                <strong>Name:</strong>
                <span th:text="${userModel.user.name}"></span>
            </P>
            <a th:href="@{'/users/delete/' + ${user.id}}">删除</a>
            <a th:href="@{'/users/modify/' +${user.id}}">修改</a>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>